<% if @user.sub_images.attached? %>
  <p>
    <i class="fa-solid fa-image-portrait fa-3x  mt-5 text-secondary"></i>
  </p>
  <h3 class="my-3 py-3">- その他画像 -</h3>
  <% @user.sub_images.each do |sub_image| %>
    <%= image_tag sub_image.variant(resize: "400x400"), class: 'mb-3 rounded border mx-2' %>
  <% end %>
<% end %>
