<% if @user.sub_images.attached? %>
<div class="text-divider font-weight-bold text-dark pb-4 mt-4">サブ画像</div>
  <% @user.sub_images.each do |attachment| %>
    <div class="mb-3">
      <%= image_tag attachment.variant(resize: "300x400"), class: 'rounded border mx-2 mb-3' %>
      <% if current_user.id == @user.id %>
        <br />
          <small><%= link_to "[▲クリックして画像削除]", purge_attachment_path(attachment), class: "text-chocolate", method: :delete,  data: { confirm: "「画像を削除します。よろしいですか？"} %></small>
        <br />
      <% end %>
    </div>
  <% end %>
<% end %>
