<div class="nav-scroller py-1 mb-2"> 
	<nav class="d-flex"> 
    <ul class="pagination pagination-sm flex-sm-wrap"> 
      <%= will_paginate @users, :previous_label => ' &lt ', :next_label => ' &gt' %>
    </ul> 
  </nav> 
</div>
