// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
  padding-top: 70px;
}

.bg-lightblue {
  background-color: #def9fc;
}

.bg-lightred {
  background-color: #f9e5e5;
}

.logo {
  position: absolute;
  font-family: 'Poiret One', cursive;
  padding-left: 10px;
  font-size: 230px;
  color: #000;
}
/*メインビジュアル*/

.jumbotron {
  margin-top: -23px;
  background: image-url('main_visual.jpg');
  background-repeat: no-repeat;
  margin-left: -100px;
  margin-right: -100px;
  height: 630px;
}

.jumbotron.main-visual {
  height: 590px;
  padding-top: 40px;
  background-size: cover;

  h1 {
    margin-top: 80px;
    font-size: 85px;
    text-align: right;
    text-shadow: 2px 2px 2px #fff
  }
  h2 {
    margin-top: 50px;
    text-align: right;
    text-shadow: 2px 2px 2px #fff
  }
}

.logo-main-visual {
  font-family: 'Poiret One', cursive;
  font-size: 200px;
  color: #fff;
  margin-top: -40px;
  margin-bottom: -50px;
  padding-right: 20px;
  text-align: right;
  text-shadow: 1px 2px 2px #808080
}

/*ユーザー一覧ページ*/
.img-list {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/*評価ページ*/
.impression-body {
  margin: auto;
  width: 100%;
  height: 400px;
  padding: 16px;
  box-sizing: border-box;
  // background: #BADA55;
  font-family: 'Roboto';
  font-weight:500;
  text-transform: uppercase;
  color: #777;
  overflow: hidden;
}

ul{
  list-style-type: none;
  width: 600px;
  margin: auto;
  text-align: left;
  
}

li {
  position: relative;
  padding: 10px;
  padding-top: 0;
  padding-left: 40px;
  height:30px;
}

.impression-body label:before {
    content: "";
    width: 15px;
    height: 15px;
    background: rgb(225, 221, 223);
    position: absolute;
    left: 7px;
    top: calc(50% - 13px);
    box-sizing: border-box;
    border-radius: 50%;
}

input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: calc(50% - 15px);
  cursor: pointer;
}

.bullet {
    position: relative;
    width: 31px;
    height: 31px;
    left: -1px;
    top: -6px;
    border: 5px solid rgb(233, 136, 185);
    opacity: 0;
    border-radius: 50%;
}

input[type="radio"]:checked ~ .bullet {
  position:absolute;
  opacity: 1;
  animation-name: explode;
  animation-duration: 0.350s;
}

.line {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: rgb(233, 136, 185);
  opacity:0;
}

.line.zero {
  left: 11px;
  top: -21px;
  transform: translateY(20px);
  width: 2px;
  height: 10px;
}

.line.one {
  right: -7px;
  top: -11px;
  transform: rotate(-55deg) translate(-9px);
}

.line.two {
  right: -20px;
  top: 11px;
  transform: translate(-9px);
}

.line.three {
  right: -8px;
  top: 35px;
  transform: rotate(55deg) translate(-9px);
}

.line.four {
  left: -8px;
  top: -11px;
  transform: rotate(55deg) translate(9px);
}

.line.five {
  left: -20px;
  top: 11px;
  transform: translate(9px);
}

.line.six {
  left: -8px;
  top: 35px;
  transform: rotate(-55deg) translate(9px);
}

.line.seven {
  left: 11px;
  bottom: -21px;
  transform: translateY(-20px);
  width: 2px;
  height: 10px;
}

input[type="radio"]:checked ~ .bullet .line.zero{
  animation-name:drop-zero;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.one{
  animation-name:drop-one;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.two{
  animation-name:drop-two;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.three{
  animation-name:drop-three;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.four{
  animation-name:drop-four;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.five{
  animation-name:drop-five;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.six{
  animation-name:drop-six;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.seven{
  animation-name:drop-seven;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes explode {
  0%{
    opacity: 0;
    transform: scale(10);
  }
  60%{
    opacity: 1;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drop-zero {
  0% {
    opacity: 0;
    transform: translateY(20px);
    height: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translateY(-2px);
    height: 0px;
    opacity:0;
  }
}

@keyframes drop-one {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(-55deg) translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-two {
  0% {
    opacity: 0;
    transform: translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-three {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(55deg) translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-four {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(55deg) translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-five {
  0% {
    opacity: 0;
    transform: translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-six {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(-55deg) translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-seven {
0% {
    opacity: 0;
    transform: translateY(-20px);
    height: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translateY(2px);
    height: 0px;
    opacity:0;
  }
}

/*ページネーション自体のデザイン*/
.pagination {
  justify-content: center;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 30px;     /*角を丸くする*/
}

.page-item .page-link {
  border: none;
}

.page-item.active span.page-link {
  z-index: 3;
  color: #fff;
  background: #17a2b8; 
  border-color: #17a2b8;
  border-radius: 30px; 
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 30px;    /*角を丸くする*/
}


/* ボタン装飾 */

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.btn,
a.btn,
button.btn {
  font-size: 90%;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.7rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #444;
  border-radius: 0.5rem;
}

/*その他と主な共通部分は省略*/

a.btn-border {
  border-radius: 0;
}

a.btn-border:before,
a.btn-border:after {
  position: absolute;

  width: 100%;
  height: 2px;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;

  background: #666;
}

a.btn-border:before {
  top: 0;
  left: 0;
}

a.btn-border:after {
  right: 0;
  bottom: 0;
}

a.btn-border:hover:before,
a.btn-border:hover:after {
  width: 0;
}



/* メディアクエリ適用寺 */

@media screen and (max-width: 767px) {
  .jumbotron.main-visual {
    height: 400px;
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 25px;
    }
  }

  .logo-main-visual {
    font-size: 100px;
  }
}

@media screen and (max-width: 560px) {
  .jumbotron.main-visual {

    h1 {
      font-size: 40px;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
  }

  .logo-main-visual {
    font-size: 150px;
    text-align: center;
  }
  
}

@media screen and (max-width: 414px) {
  .jumbotron.main-visual {

    h1 {
      font-size: 33px;

    }
    h2 {
      font-size: 20px;

    }
  }

  .logo-main-visual {
    font-size: 120px;
    padding-top: 30px;
  }
  
}

/* ふきだし */
.arrow_box{
  position:relative;
  width:300px;
  height:80px;
  background:#f3adcf;
  padding:10px;
  text-align:center;
  color:#FFFFFF;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}
.arrow_box:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(255, 195, 128, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:10px;
  border-right-width:10px;
  margin-left: -10px;
  border-top-color:#f3adcf;
  top:100%;
  left:50%;
}

