// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
  padding-top: 70px;
  padding-bottom: 50px;
}

.body-color {
  background: #f0ece6;
}

.text-chocolate {
  color: #9e8484;
}

.text-brown {
  color: #7a6666;
}

.text-wine {
  color: #87091A;
}

.bg-brown {
  background: #7a6666;
}

.bg-wine {
  background: #87091A;
}

.bg-deepblue {
  background: #0E376F;
}

.bg-lightblue {
  background: #C1CFCE;
}

.bg-orange {
  background: #E3A93B;
}

.rounded-corner {
  border-radius: 30px 30px 0 0;
}

.text-divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
}
.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: #555;
  flex-grow: 1;
}
.text-divider::before {
  margin-right: var(--text-divider-gap);
}
.text-divider::after {
  margin-left: var(--text-divider-gap);
}

.logo {
  position: absolute;
  font-family: 'Poiret One', cursive;
  padding-left: 10px;
  font-size: 230px;
  color: #000;
}

/*footer*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f0ece6;
  padding: 15px 0;
}

/*メインビジュアル*/

.jumbotron {
  margin-top: -23px;
  background: image-url('main_visual.jpg');
  background-repeat: no-repeat;
  margin-left: -100px;
  margin-right: -100px;
  height: 630px;
}

.jumbotron.main-visual {
  height: 590px;
  padding-top: 40px;
  background-size: cover;

  h1 {
    margin-top: 60px;
    font-size: 85px;
    text-align: right;
    text-shadow: 2px 2px 2px #fff
  }
  h2 {
    margin-top: 30px;
    text-align: right;
    text-shadow: 2px 2px 2px #fff
  }
}

.logo-main-visual {
  font-family: 'Poiret One', cursive;
  font-size: 200px;
  color: #fff;
  margin-top: -40px;
  margin-bottom: -50px;
  padding-right: 20px;
  text-align: right;
  text-shadow: 1px 2px 2px #808080
}

/*ユーザープロフカード*/
.card-prof {
  margin: 0 auto;
  width: 350px;
  background: #fff;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 2px 5px #ccc;
}
.card-prof-img {
  border-radius: 15px 15px 0 0;
  max-width: 100%;
  height: auto;
}
.card-prof-content {
  padding: 20px;
  padding-top: 0;
}

/*ユーザー一覧ページ*/
.card-group-x{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  /* ポイント１ */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* ポイント２ */
// .card-group-x > :nth-child(2n){
//   margin-left: 20px;
// }
.card-x{
/* ポイント４ */
  // width: calc((100% - 20px * 1) / 2);
  width: 170px;
  height: auto;
  overflow: hidden;
  margin-bottom: 15px;
}
.img-list{
  width: 130px;
  height: 130px;
  border-radius: 80px;
  object-fit: cover;
}
.card__textbox-x{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #f0ece6;
  box-sizing: border-box;
}
.card__textbox-x > * + *{
  margin-top: 10px;
}

/*評価ページ*/
.impression-body {
  margin: auto;
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  // background: #BADA55;
  font-family: 'Roboto';
  font-weight:500;
  text-transform: uppercase;
  color: #777;
  overflow: hidden;
}

ul{
  list-style-type: none;
  width: 600px;
  margin: auto;
  text-align: left;
  
}

li {
  position: relative;
  padding: 10px;
  padding-top: 0;
  padding-left: 40px;
  height:30px;
}

.impression-body label:before {
    content: "";
    width: 15px;
    height: 15px;
    background: rgb(225, 221, 223);
    position: absolute;
    left: 7px;
    top: calc(50% - 13px);
    box-sizing: border-box;
    border-radius: 50%;
}

input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: calc(50% - 15px);
  cursor: pointer;
}

.bullet {
    position: relative;
    width: 31px;
    height: 31px;
    left: -1px;
    top: -6px;
    border: 5px solid rgb(233, 136, 185);
    opacity: 0;
    border-radius: 50%;
}

input[type="radio"]:checked ~ .bullet {
  position:absolute;
  opacity: 1;
  animation-name: explode;
  animation-duration: 0.350s;
}

.line {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: rgb(233, 136, 185);
  opacity:0;
}

.line.zero {
  left: 11px;
  top: -21px;
  transform: translateY(20px);
  width: 2px;
  height: 10px;
}

.line.one {
  right: -7px;
  top: -11px;
  transform: rotate(-55deg) translate(-9px);
}

.line.two {
  right: -20px;
  top: 11px;
  transform: translate(-9px);
}

.line.three {
  right: -8px;
  top: 35px;
  transform: rotate(55deg) translate(-9px);
}

.line.four {
  left: -8px;
  top: -11px;
  transform: rotate(55deg) translate(9px);
}

.line.five {
  left: -20px;
  top: 11px;
  transform: translate(9px);
}

.line.six {
  left: -8px;
  top: 35px;
  transform: rotate(-55deg) translate(9px);
}

.line.seven {
  left: 11px;
  bottom: -21px;
  transform: translateY(-20px);
  width: 2px;
  height: 10px;
}

input[type="radio"]:checked ~ .bullet .line.zero{
  animation-name:drop-zero;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.one{
  animation-name:drop-one;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.two{
  animation-name:drop-two;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.three{
  animation-name:drop-three;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.four{
  animation-name:drop-four;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.five{
  animation-name:drop-five;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.six{
  animation-name:drop-six;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.seven{
  animation-name:drop-seven;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes explode {
  0%{
    opacity: 0;
    transform: scale(10);
  }
  60%{
    opacity: 1;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drop-zero {
  0% {
    opacity: 0;
    transform: translateY(20px);
    height: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translateY(-2px);
    height: 0px;
    opacity:0;
  }
}

@keyframes drop-one {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(-55deg) translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-two {
  0% {
    opacity: 0;
    transform: translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-three {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(55deg) translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-four {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(55deg) translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-five {
  0% {
    opacity: 0;
    transform: translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-six {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(-55deg) translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-seven {
0% {
    opacity: 0;
    transform: translateY(-20px);
    height: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translateY(2px);
    height: 0px;
    opacity:0;
  }
}

/*ページネーション自体のデザイン*/
.pagination {
  justify-content: center;
}

.page-link {          
  background: #f0ece6;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  border-radius: 30px; 
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 30px;     /*角を丸くする*/
}

.page-item .page-link {
  border: none;
}

.page-item.active span.page-link {
  z-index: 3;
  color: #fff;
  background: #17a2b8; 
  border-color: #17a2b8;
  border-radius: 30px; 
}


/* ボタン装飾 */

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.btn,
a.btn,
button.btn {
  font-size: 60%;
  font-weight: 500;
  line-height: 1.3;
  position: relative;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #444;
  border-radius: 0.5rem;
}

/*その他と主な共通部分は省略*/

a.btn-border {
  border-radius: 0;
}

a.btn-border:before,
a.btn-border:after {
  position: absolute;

  width: 100%;
  height: 2px;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;

  background: rgb(145, 144, 144);
}

a.btn-border:before {
  top: 0;
  left: 0;
}

a.btn-border:after {
  right: 0;
  bottom: 0;
}

a.btn-border:hover:before,
a.btn-border:hover:after {
  width: 0;
}

/* ボタン２ */

.button02{
  display:block;
  margin: 0 auto;
  width: 300px;
  height:60px;
  line-height: 60px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  background-color: #f39800; /*ボタン色*/
  border-radius: 20px; /*角丸*/
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
}
.button02:hover{
  background-color: #f9c500; /*ボタン色*/
  color: #FFF;
}

/* ボタン3 */

.button03{
  display:block;
  margin: 0 auto;
  width: 300px;
  height:60px;
  line-height: 60px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  background-color: #7a6666; /*ボタン色*/
  border-radius: 20px; /*角丸*/
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
}
.button03:hover{
  background-color: #87091a; /*ボタン色*/
  color: #FFF;
}

/* ボタン4 */

.button04{
  display:block;
  margin: 0 auto;
  width: 300px;
  height:60px;
  line-height: 60px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  background-color: #74c6d3; /*ボタン色*/
  border-radius: 20px; /*角丸*/
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
}
.button04:hover{
  background-color: #0e376f; /*ボタン色*/
  color: #FFF;
}

/* メディアクエリ適用寺 */

@media screen and (max-width: 767px) {
  .jumbotron.main-visual {
    height: 400px;
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 25px;
    }
  }

  .logo-main-visual {
    font-size: 100px;
  }
}

@media screen and (max-width: 560px) {
  .jumbotron.main-visual {

    h1 {
      font-size: 40px;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
  }

  .logo-main-visual {
    font-size: 150px;
    text-align: center;
  }
  
}

@media screen and (max-width: 414px) {
  .jumbotron.main-visual {

    h1 {
      font-size: 33px;
      text-align: right;
    }
    h2 {
      font-size: 20px;
      text-align: right;
      margin-right: -15px;
    }
  }

  .logo-main-visual {
    font-size: 120px;
    text-align: right;
    margin-right: -20px;
    padding-bottom: 20px;
  }
  
}

/* ふきだし */
.arrow_box{
  position:relative;
  width:300px;
  height:80px;
  background:#f3adcf;
  padding:10px;
  text-align:center;
  color:#FFFFFF;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}
.arrow_box:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(255, 195, 128, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:10px;
  border-right-width:10px;
  margin-left: -10px;
  border-top-color:#f3adcf;
  top:100%;
  left:50%;
}

